name: goreleaser

on:
  push:
    tags:
      - "*"

permissions:
  contents: write
  packages: write
  # issues: write
  # id-token: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: stable

      # Install templ used in the before hooks to generate templates
      - name: Set up templ
        run: |
          go install github.com/a-h/templ/cmd/templ@latest

      # Install sqlc used in the before hooks to generate code from SQL
      - name: Set up sqlc
        uses: sqlc-dev/setup-sqlc@v3
        with:
          sqlc-version: "1.30.0"

      # Install Node.js used in the before hooks to build Tailwind CSS
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          # 'latest', 'nightly', or a semver
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
